{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="form-container">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="cta">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'register' %}" class="registration-link ">Register here</a></p>

    <button id="google-login">Login with Google</button>
    </div>

    <script src="{% static 'js/login.js' %}"></script>
{% endblock %}
