{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>SRSLingo - Learn Any Language Fast!</title>
        <link rel="stylesheet" href="{% static 'css/styles.css' %}">
        <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    </head>

    <body>
        <header>
            <nav>
                <!-- Navigation bar -->
                <ul class="nav-list">
                    <li><a href="{% url 'dashboard' %}" class="home-link">SRSLingo</a></li>
                    <li class="auth-links">
                        {% if not user.is_authenticated %}
                          <a href="{% url 'login' %}">Login</a>
                          <a href="{% url 'register' %}">Register</a>
                        {% else %}
                          <a href="{% url 'logout' %}">Logout</a>
                        {% endif %}
                    </li>
                </ul>
            </nav>
        </header>

        <main class="content">
            {% block content %}
            <!-- Content overridden by child templates -->
            {% endblock %}
        </main>

        <footer>
            <!-- Footer content -->
            <p>&copy; 2024 SRSLingo. All rights reserved.</p>
        </footer>

        <!-- Additional JavaScript files or external scripts -->
    </body>

    <!-- Firebase App (the core Firebase SDK) -->
    <script type="module">
      // Import the functions you need from the SDKs you need
      import { initializeApp } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-app.js";
      import { getAnalytics } from "https://www.gstatic.com/firebasejs/10.8.1/firebase-analytics.js";
      // https://firebase.google.com/docs/web/setup#available-libraries

      // For Firebase JS SDK v7.20.0 and later, measurementId is optional
      // Firebase configuration from Flask
      const firebaseConfig = {{ firebase_config|safe }};

      // Initialize Firebase
      const app = initializeApp(firebaseConfig);
      const analytics = getAnalytics(app);
    </script>

    <!-- Firebase SDK -->
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-app.js" defer></script>
    <script src="https://www.gstatic.com/firebasejs/9.6.1/firebase-auth.js" defer></script>

    <!-- Firebase Auth Script -->
    <script src="{% static 'js/firebase-auth.js' %}" type="module"></script>
    <script>
      // Assuming firebaseApp is your Firebase application initialization object
      import { getAuth, onAuthStateChanged } from "https://www.gstatic.com/firebasejs/9.6.1/firebase-auth.js";

      const auth = getAuth();
      onAuthStateChanged(auth, (user) => {
        if (user) {
          // User is signed in, redirect to dashboard
          if (window.location.pathname === '/' || window.location.pathname === '/login' || window.location.pathname === '/register') {
            window.location.href = '/dashboard'; // Adjust the path as necessary
          }
        } else {
          // No user is signed in, redirect to landing page
          // Assuming you want to keep them on registration or login page if they are there
          if (window.location.pathname === '/dashboard') {
            window.location.href = '/'; // Adjust as necessary
          }
        }
      });
    </script>
{#    <script src="{% static 'js/main.js' %}" defer></script>#}

</html>
