{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="dashboard-layout">
  <aside class="sidebar">
      <a href="{#% url 'progress' %#}">Progress</a>
      <a href="{% url 'flashcards' %}">Flash Cards</a>
      <a href="{#% url 'multiple_choice' %#}">Multiple Choice</a>
      <a href="{#% url 'database' %#}">Database</a>
      <a href="{#% url 'study_settings' %#}">Study Settings</a>
      <a href="{#% url 'community_study' %#}">Community Study</a>
      <a href="{#% url 'subscription' %#}">Subscription</a>
  </aside>
  <main class="main-view">
    {% block dashboard_content %}
    <!-- Dashboard main content goes here -->
        <h1>Welcome to SRSLingo!!</h1>
    {% endblock dashboard_content %}
  </main>
</div>
{% endblock content %}
